@use 'mixins' as *;

// ----------------------------------------
//               UTILITY
// ----------------------------------------

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.flex-row {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include media-min(md) {
    flex-direction: row;
  }

  > * {
    flex: 1 1 0;
  }
}

// ----------------------------------------
//               REDUCED MOTION
// ----------------------------------------

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
