$breakpoints: (
  xs: 360px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$typography: (
  h1: (
    xs: (font-size: 30px, line-height: 120%),
    md: (font-size: 45px, line-height: 120%),
  ),
  h2: (
    xs: (font-size: 26px, line-height: 120%),
    md: (font-size: 35px, line-height: 120%),
  ),
  h3: (
    xs: (font-size: 20px, line-height: 120%),
    md: (font-size: 25px, line-height: 120%),
  ),
  h4: (
    xs: (font-size: 18px, line-height: 120%),
    md: (font-size: 18px, line-height: 120%),
  ),
  text: (
    xs: (font-size: 16px, line-height: 150%),
    md: (font-size: 16px, line-height: 150%),
  ),
);

$container-width: 1400px;
